UnityProject/[Aa]ssets/TextMesh Pro
UnityProject/[Ll]ibrary/
UnityProject/[Tt]emp/
UnityProject/[Oo]bj/
UnityProject/[Ll]ogs/
UnityProject/[Uu]ser[Ss]ettings/
UnityProject/*.sln
UnityProject/*.csproj

.vs/
packages/

*.vsconfig
*.vcxproj.user

*.meta